{% extends 'master.html' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="col-md-4">
            <h2>Reset Password</h2>
            <p>we have sent to request a new password link to your email</p>
            <p>if you have did't receive a link please verified you enterd the correct email and / or check your span folder</p>
        </div>
    </div>
</body>
</html>

{% endblock %}
 