{% extends 'master.html' %}

{% block body %}
<style>
    .form-group {
        margin-top: 15px;
    }
    .d-flex {
        display: flex;
        justify-content: space-between;
    }
    .container {
        margin-top: -10px;
    }
</style>
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>Reset Password!</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.email.errors }}
                        <p>{{ form.email }}</p>
                        <div class="form-group">
                            <div class="d-flex">
                                <button type="submit" class="btn btn-default">Send a confirmation link</button>
                                <a href="{% url 'login' %}">Login with password</a>
                            </div>
                        </div>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
{% endblock %}
