{% extends 'master.html' %}

{% block body %}
<style>
    .form-group{
        margin-top: 15px;
    }
    .d-flex{
        display: flex;
        justify-content: space-between;
    }
    .container{
        margin-top: -10px;
    }

</style>
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New Password!</h2>
                    {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        {{ field.errors }}
                        <!-- <p>{{ field.label_tag }} {{ field }}</p>? # if u want to name for input u can use this -->
                        <p>{{ field }}</p>
                        {% endfor %}
                        <div class="form-group">
                            <div class="d-flex">
                                <button type="submit" class="btn btn-default">Signup</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <p style="color: red;">Invalid Token</p>
                    <p>
                        <a href="">Request a new password</a>
                    </p>
                    {% endif %}
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->


{% endblock %}